<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:green;
        }
        p{
            color:blue;
          border:2px solid black;
        }
    </style>
</head>
<body>
    <h1>welcom to my page</h1>
    <ul>
        <li>apple</li>
        <li>pineapple</li>
        <li>orange</li>
        <li>grapes</li>
        <li>mango</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam culpa, dolore nisi repellat natus, ratione ipsam eos vel molestiae incidunt quis vitae ullam sit doloribus earum. Omnis, laborum repellat quia rerum minima dolorum nihil cum assumenda? Consequatur repudiandae est repellendus!</p>
</body>
</html>